
/* Your CSS Code here. */
.container,#h3{
	width:200px;
	background-color:rgb(128,0,128);
    padding:10px;
	border:1px solid;
	border-left-color: rgb(0,128,0);
	border-left-width:5px;
	font-size:20px;
	color:rgb(255,255,255);
}