
/* Your CSS Code here. */
.main,#h3{
	width:200px;
	background-color:purple;
	border-left-style:solid;
	border-left-color:green;
	border-left-width:5px;
	padding:1px;

	font-size:15px;
	color:white;
}